
div#toolBar.hide
  div#refreshBtn
    input(type="image" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-refresh-128.png")
  div
    input(type="color" id="colInp" name="color")
  div
    input#addTextBox(type='text', draggable='true')
  div
    input#backgroundTog(type="checkbox")
  div#postBtn
    input(type="button" value="post")

