

doctype html
html(lang='en' ng-app)
  head
    meta(charset="utf-8")
    title canvas
    link(rel="stylesheet", type="text/css", href="/main.css")


  body
    include partials/heading.jade
    include partials/authform.jade
    div#backSetting
      for anchor in anchors
        a(href=anchor.content style="top:"+anchor.top+";left:"+anchor.left+";color:"+anchor.color+";" target="_blank")= anchor.content
    if(user)
      include partials/toolbar.jade
    

        


    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/client.js")
